<!DOCTYPE html>
<html>
  <head>
    <title>Shubham Shukla,Designer Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header id="main_navigation" class="clearfix">
        <a href="index.html" class="name">shubh_spcl</a>
        <nav>
        	<%= link_to "Articles", posts_path %>
            <!-- <a href="articles.html">Articles</a> -->
            <a href="#">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>

    </header>
    <%= yield %>
  </body>
</html>
